@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --color01: #040926;
  --color02: #96acd9;
  --color03: #ffffff;
}

* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background-color: var(--color01);
  color: var(--color03);
  overflow-x: hidden;
}

#loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color02);
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform .8s ease-in-out;
}

body.loaded #loading {
  transform: translateX(-100%);
}

.spinner {
  border: 8px solid var(--color01);
  border-top: 8px solid var(--color02);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
  margin-bottom: 1rem;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  } 100% {
    transform: rotate(360deg);
  }
}

main {
  opacity: 0;
  transition: opacity 1s ease .5s;
}

body.loaded main {
  opacity: 1;
}

body.loaded {
  overflow: auto;
}

.bkg1 {
  position: fixed;
  top: 40px;
  right: 40px;
  bottom: 40px;
  left: 40px;
  background-color: transparent;
  border: 3px solid var(--color02); 
  border-radius: 8px;
  box-sizing: border-box;
  pointer-events: none;
}

.circleSh {
  position: fixed;
  top: -250px;
  left: 75%;
  background-image: linear-gradient(180deg, var(--color02), transparent);
  width: 500px;
  height: 500px;
  border-radius: 50%;
}

.img1 {
  position: fixed;
  top: 60%;
  left: 30px;
  transform: scaleX(-1) scale(1.2);
  z-index: 1;
}

.img2 {
  position: fixed;
  top: 55%;
  left: 77%;
  transform: scaleX(-1) scale(1.2);
  z-index: 1;
}

.img3 {
  position: fixed;
  top: 45%;
  left: 5%;
  transform: scaleX(-1) scale(1.2);
  z-index: 1;
}

.container {
  display: flex;
  flex-direction: column;      
  justify-content: center;     
  align-items: center;         
  height: 90vh;                
  text-align: center;
  position: relative;
  z-index: 2;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 4rem;
  font-optical-sizing: auto;
  font-style: normal;
  color: var(--color02);
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-optical-sizing: auto;
  font-style: normal;
  color: var(--color02);
}

button {
  padding: 24px 64px;
  background: linear-gradient(135deg, var(--color02), var(--color02));
  border-radius: 30px;
  border: none;
  font-size: 16px;
  color: var(--color01);
  letter-spacing: 1px;
  font-weight: 600;
  margin-top: 20px;
  transition: all .5s;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.262);
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

button::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.514), transparent);
  transition: left 0.5s;
}

button:hover::before {
  left: 100%;
}

button:hover {
  transform: translateY(-3px);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.262);
}

button:active {
  transform: translateY(-1px);
}

.c1 {
  position: fixed;
  top: 9%;
  left: 5%;
  background-color: var(--color02);
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.c2 {
  position: fixed;
  top: 9%;
  left: 7.5%;
  background-color: var(--color01);
  border: 1px solid var(--color02);
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.more {
  font-family: "Montserrat", sans-serif;
  font-size: 4rem;
  font-optical-sizing: auto;
  font-weight: lighter;
  position: fixed;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  color: var(--color03);
}

.border {
  position: fixed;
  top: -5%;
  left: 50%;
  transform: translateX(-50%);
  width: 400px;
  height: 150px;
  background-color: transparent;
  border-radius: 30px;
  border: 2px dashed var(--color03);
}

@media (max-width: 768px) {
  .bkg1 {
    top: 15px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    border: 1px solid var(--color02);
  }
  
  .container {
    height: 75vh;
    padding: 15px;
  }
  
  h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  
  h2 {
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }
  
  .more {
    font-size: 2.5rem;
    top: 88%;
  }
  
  button {
    padding: 16px 35px;
    font-size: 14px;
  }
  
  .img1 {
    top: 64%;
    left: -20px;
    transform: scaleX(-1) scale(.8);
  }
  
  .img2 {
    left: 55%;
    top: 60%;
    transform: scaleX(-1) scale(0.7);
  }
  
  .img3 {
    top: 60%;
    left: 2%;
    transform: scaleX(-1) scale(0.6);
  }
  
  .c2 {
    left: 12%;
  }
  
}